* {
    padding: 0;
    margin: 0;
  }

@font-face {
    font-family: "Arapey";
    src: url(../tipografia/Arapey-Regular.ttf);
}

a{
  text-decoration: none;
}

body {
    font-family: "Arapey";
}
  
.logo img {
  width: 20%;
}
  
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}

button{
  text-decoration: none
}

@import "_nav";
@import "_productos";
@import "_bolsa";

.portada{
  object-fit: cover;
  
}

#filtro{
  text-align: right;
  margin: 20px;
}

.registro{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

h1{
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

#formulario{
  width: 500px;
  height: 550px;
  border-radius: 10px;
  border: ridge 2px black;
  padding: 40px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;    
  margin-top: 30px;   
}